@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Spartan', sans-serif;
}

h4 {
    text-align: center;
}

.container {
    background-image: url("img/hero.jpg");
    height: 100vh;
    width: 100%;
    margin-left: auto;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
}

.form-box {
    width: 450px;
    margin: 0px 10px;
}

.form-box header {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
    
.btn {
    text-align: center;
    text-decoration: none;
    height: 35px;
    background: #1769a0;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 5px;
    padding: 10px 10px;
}

.btn:hover {
    background-color: #6ba2c7;
}

.image {
    margin: auto; 
}